
table,td,th{
	background-color:#87AFC7;
	 border: 1px solid white;
	 border-radius:5px;
}
.message{
	font-size:25;
	text-align: center;
	width:460px;
	height:400px;
	border: 5px ;
	border-radius:20px;
	margin-top:150;
	margin-left:500;
	border:5px solid #aaa;
	border-bottom-color:black;
	background-color:#DCD0FF;
	color:#E77471;
    font-family:impact;}


	.color {
		background-color: #29465B; 
		color:white;}


	th, td {
		text-align: center;
		padding: 20px;}


 input[type=Submit]{
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #77BFC7;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

 input[type=Submit]:hover {
  background-color: #77BFC7
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);}


 input[type=Submit] :active, {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

b{
	margin-left :690px;
}

input[type=text]
	 {
	 border:2px solid #aaa;
	 height:30px;
	 width:350px;
	 border-radius:4px;
	 background-color: #29465B ;
	 color:white;
	 margin:8px
	 transition:3s;
	 text-align:center;
	 
	 }
	 
	 input[type=text]:focus
	 {
	 border-color:dodgerBlue;
	 box-shadow:0 0 8px dodgerBlue;
	 }
	